@import url("https://fonts.google.com/specimen/BBH+Bartle");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    transition: background .25s, color .25s;
}

main {
    padding: 30px;
    user-select: none;
}

/* -------- HEADER -------- */

header > span {
    font-size: 0.85rem;
    font-weight: 700;
    color: #3c3d47a9;
}

header > h1 {
    color: #09093dd8;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5px;
}

/* -------- BOARD -------- */

.columns {
    display: flex;
    gap: 15px;
    margin-top: 50px;
}

.column {
    width: 100%;
    background-color: rgba(240, 248, 255, 0.85);
    height: 100dvh;
    border-radius: 8px;
}

.column__title {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 10px;

  
}


.column__cards {
    padding: 2px;
    height: 100%;
    border-radius: 10px;
}

/* -------- CARD -------- */

.card {
    width: 100%;
    min-height: 70px;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
    position: relative;
}

/* -------- DELETE BUTTON -------- */

.delete-btn{
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
    font-weight:bold;
    color:#b90000;
}

/* -------- COLUMN STATUS COLORS -------- */

.column[data-status="todo"] .card{
    background:#fee2e2;
    border:1px solid #991b1b;
}

.column[data-status="doing"] .card{
    background:#e0f2fe;
    border:1px solid #075985;
}

.column[data-status="review"] .card{
    background:#fef3c7;
    border:1px solid #b6a511;
}

.column[data-status="done"] .card{
    background:#dcfce7;
    border:1px solid #166534;
}

/* -------- CREATE COLUMN BUTTON -------- */

#addColumnBtn{
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    background:#2d77ff;
    color:white;
    cursor:pointer;
    margin-top:10px;
}

/* -------- THEME BUTTON -------- */

#themeToggle{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

/* -------- DARK MODE -------- */

body.dark{
    background:#0f172a;
    color:#ffffff;
}

body.dark .column{
    background:#1f2937;
}

body.dark .column__title,
body.dark header > h1,
body.dark header > span{
    color:#ffffff;
}

body.dark .card{
    color:#ffffff;
}

/* keep column color themes but darker */
body.dark .column[data-status="todo"] .card{
    background:#7f1d1d;
    border-color:#fecaca;
}

body.dark .column[data-status="doing"] .card{
    background:#0c4a6e;
    border-color:#bae6fd;
}

body.dark .column[data-status="review"] .card{
    background:#ccb011a2;
    border-color:#fde68a;
}

body.dark .column[data-status="done"] .card{
    background:#14532d;
    border-color:#bbf7d0;
}
